
/* Home page styling */
.home-content {
    overflow-x: hidden;
}

.home-row {
    display: flex;
    width: 100%;
    justify-content: center;
    font-size: 1vw;
}

.home-col1 {
    flex: 2;
    width: 100%;
   
}

.home-col2 {
    flex: 1;
    width: 100%;
    margin-left: 5%;
}

h3 {
    position: relative;
    display: inline-block;
    font-family: "Oswald", Arial, Verdana;
}

    h3::after {
        content: "";
        position: absolute;
        bottom: -20px;
        left: 0;
        width: 60%; 
        height: 5px;
        background: linear-gradient(to bottom, var(--main-color), var(--secondary-color--dark));
    }

.home-logo {
    width: 50%;
    text-align: center;
    padding: 10% 0 20% 0;
}  

.home-logo img {
    width: 100%;
}

.home-col1 img {
    width: 100%;
    margin: 5% 0 5%;
}

.sponsors-container {
    width: 100%;
    margin-top: 5%;
}
.sponsors-container img {
      width: 50%;
      margin: 5% 0 5%;
}

.donations {
    display: flex;
    flex-direction: column;
}

.btn-container {
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 15% 0 15%;
}

.home-btn {
    background-color: var(--main-color--light);
    color: white;
    width: 65%;
    padding: 5% 12%;
    border-radius: 5px;
    font-size: 1vw;
}

.home-text {
    margin-top: 5%;
    width: 100%;
}

.home-acknowledgement {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
}